# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift
.build/
.swiftpm/
*.playground

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
